
* {
	box-sizing: border-box;
}


body {
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/bg-2.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	opacity: 0.8;
	/* background-color: #9b59b6; */
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}


.container {
	
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	/* position: relative; */
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
	/* text-align: center; */
	/* margin: 10px 30px; */

}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 10px 20px;
	
}

.header h2 {
	margin:0px;
}

.form {
	padding: 20px 30px;	
}

.form-control {
	margin-bottom: 5px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color:#8e44ad;
	background-color: #FAFAFA;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	color: #e74c3c;
	visibility: visible;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

.indicator {
	height: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px 0;
	display: none;

}

 .indicator span {
  height: 100%;
  width: 100%;
  background: lightgrey;
  border-radius: 3px;
  position: relative;

}

.indicator span.medium {
	margin: 0 0px;
}



.indicator span::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: crimson;
	border-radius: 5px;
	
  }

.indicator span.weak::before{
	background-color: #ff4757;
  }

.indicator span.medium::before{
	background-color: orange;
  }

.indicator span.strong::before{
	background-color: #23ad5c;
  }

  .form-control .text{
	font-size: 12px;
	font-weight: 500;
	display: none;
	margin-bottom: -8px;
  }

  .form-control .text.weak{
	color: #ff4757;
  }
  .form-control .text.medium{
	color: orange;
  }
  .form-control .text.strong{
	color: #23ad5c;
  }
  
.sign-up-text{
  text-align: center;
  margin-top: 25px;
  font-size: bold;
}


 





