* {
    padding: 0;
    margin: 0;

}

body {

    font-family: 'Montserrat', sans-serif;
    
}


/* video */


.show {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: #111;
    color: #fff;
    
    
}

.show video{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    
}

.overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0, .1);
    mix-blend-mode: overlay;

}


/* header */


.text {
    position: relative;
    z-index: 10;
}

.text h1 {
    font-size: 4em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    
    
}


.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}


.nav-item {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
   
}



/* about us */


#about {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/periyar.jpg);
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
   

}

.overlayer {

    text-align: center;
    padding: 60% 15% 7%;
    color: #fff;
   
}


h2{
    font-weight: 600;
    color: #efefef;
    padding-top: 25px;
}

.card {
    padding: 7% 0 7%;
    text-align: center;
}



/* experience in kerala */

.card {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/attam.jpg);
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
   

}

.ctn {

    text-align: center;
    padding: 60% 15% 7%;
    color: #fff;
   
}


  .slider{
    display: flex;
  }
  .slider .card{
    flex: 1;
    margin: 0 10px;
    background: #fff;
  }
  .slider .card .img{
    height: 500px;
    width: 100%;
    padding: 10px 20px;
  }
  .slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .slider .card .content{
    padding: 10px 20px;
  }
  .card .content .title{
    font-size: 25px;
    font-weight: 600;
  }
  .card .content .sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
  }
  .card .content p{
    text-align: justify;
    margin: 10px 0;
    font-weight: 500;
  }
  .card .content .btn{
    display: block;
    text-align: left;
    margin: 10px 0;
  }
  .card .content .btn button{
    background: #e74c3c;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }
  .card .content .btn button:hover{
    transform: scale(0.9);
  }


.districts {
    color: black;
}



  #site-stats
{
    padding: 100px 0;
}
#site-stats h3
{
    margin-bottom: 30px;
}
.stats-box
{
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 2px 40px 0 rgba(110,130,208, .18);
}
.stats-box .fa
{
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.gallery
{
    padding: 100px 0;
    background: #efefef;
    text-align: center;
}
.gallery-box img
{
    
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
    float: left;
    width:  130px;
    height: 110px;
    object-fit: cover;
    margin-bottom: 25px;
}
.gallery-box img:hover
{
    transform: scale(1.1);
    
}
.gallery-box h4
{
    display: block;
    color:ivory;
    text-shadow: -3px 3px 3px #000; 
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gallery-box
{
    position: relative;
    margin-bottom: 30px;
}


/* plan your trip */

.trip {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/tea.jpg);
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
   

}

.overon {

    text-align: center;
    /* padding: 60% 15% 7%; */
    color: #fff;
   
}


.trip {
    color: #efefef;
    padding: 5% 15% 7%; ;
    margin: 5px;
    text-align: center;
}



.icon {
    color: #FF9300;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.icon:hover {
    color: #FF0000;
}

h4 { 
    font-weight: bold;

}


/* footer */

.footer
{
    padding: 100px 20px 15px;
    background-image: linear-gradient(#2d557d,#9610fb);
    color: #fff;
}
.footer-logo
{
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer h4
{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}
.footer p
{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}
.footer .row .fa
{
    padding-right: 20px;
    font-size: 15px;
}
.footer hr
{
    margin-top: 10px;
    background: #efefef;
}


.footer .copyright
{
    text-align: center;
    
}
